In [39]:
import pandas
import glob

In [40]:
DATA_FILE_HOME="../data/"
FILE_NAME_FORMAT="concat*.csv"

In [41]:
concat_df = []

In [42]:
list_of_concat_files = glob.glob(DATA_FILE_HOME + FILE_NAME_FORMAT)

In [43]:
for concat_file in list_of_concat_files:
    concat_df.append(pandas.read_csv(concat_file))

In [44]:
# Row wise append
row_concat = pandas.concat(concat_df)
print (row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7

In [45]:
# Col wise concat
col_concat = pandas.concat(concat_df,axis=1)
print(col_concat)

    A   B   C   D    A    B    C    D   A   B   C   D
0  a0  b0  c0  d0   a8   b8   c8   d8  a4  b4  c4  d4
1  a1  b1  c1  d1   a9   b9   c9   d9  a5  b5  c5  d5
2  a2  b2  c2  d2  a10  b10  c10  d10  a6  b6  c6  d6
3  a3  b3  c3  d3  a11  b11  c11  d11  a7  b7  c7  d7

In [46]:
# Subsetting the above column result set with multiple columns having the same name
print(col_concat['A'])

    A    A   A
0  a0   a8  a4
1  a1   a9  a5
2  a2  a10  a6
3  a3  a11  a7