In [47]:
import pandas
import glob

In [48]:
# Initialize file names
DATA_FILE_HOME="../data/"
SURVEY_VISITED=DATA_FILE_HOME + "survey_visited.csv"

In [49]:
# Initialize dataframe
df_visited = pandas.read_csv(SURVEY_VISITED)

In [50]:
# Visited data frame
df_visited.head()

   ident  site       dated
0    619  DR-1  1927-02-08
1    622  DR-1  1927-02-10
2    734  DR-3  1939-01-07
3    735  DR-3  1930-01-12
4    751  DR-3  1930-02-26

In [51]:
# How many times each site was visited. 
df_visit_count = df_visited[['site','dated']]
df_visit_count_grouped = df_visit_count.groupby('site').agg(['count'])
df_visit_count_grouped.head()

      dated
      count
site
DR-1      3
DR-3      3
MSK-4     1

In [52]:
# Oldest site visited and Most recently visited site incorrect. 
df_visited.agg(['min','max'])

     ident   site       dated
min    619   DR-1         inf
max    844  MSK-4  1939-01-07

In [54]:
# Look at the sites that have been visited and then identify oldest and recently visited sites
# Step 1. Extract the rows in which 'dated' column is not null. 
# Step 2. Aggregate min and max functions using that resultset. 
df_visited.loc[  pandas.isnull(df_visited['dated']) == False ].agg(['min','max'])

     ident   site       dated
min    619   DR-1  1927-02-08
max    844  MSK-4  1939-01-07

In [55]:
# List of sites that have never been visisted. 
df_visited.loc[ pandas.isnull(df_visited['dated']) ]

   ident  site dated
5    752  DR-3   NaN

In [56]:
# Count of Sites that have never been visited. 
print df_visited.loc [ pandas.isnull(df_visited['dated'])].count()
print df_visited.loc [ pandas.isnull(df_visited['dated'])].agg('count')

ident    1
site     1
dated    0
dtype: int64
ident    1
site     1
dated    0
dtype: int64

In [57]:
type(df_visited.loc [ pandas.isnull(df_visited['dated'])].count())

pandas.core.series.Series

In [58]:
type(df_visited.loc [ pandas.isnull(df_visited['dated'])].agg('count'))

pandas.core.series.Series